@import 'normolize'
@import 'elements'
@import 'slick'
@import 'header'

.hero
    position: relative
    z-index: 1
    padding: var(--padd)
    margin: 0 0 50px
    .container
        gap: 90px 20px
        padding-top: 22px
        padding-bottom: 22px
        min-height: calc( 100svh - var(--padd) * 2 )

    .header
        margin-bottom: auto

    &-features
        gap: 78px
        max-width: 59%
        margin-bottom: 5vw

    &-feature
        white-space: nowrap
        &__heading
            display: block
            font-family: 'Philosopher', serif
            font-weight: 700
            font-size: 60px
            line-height: 100%
            text-transform: uppercase

        &__text
            font-weight: 600
            font-size: 24px
            line-height: 100%

    &-descr
        max-width: 41%
        text-align: right
        margin-bottom: 5vw
        p
            margin-bottom: 20px

        .btn
            margin-left: auto

    h1
        max-width: 1149px
        margin: auto 0 0

    &__bg
        display: block
        position: absolute
        top: var(--padd)
        z-index: -111
        left: var(--padd)
        width: calc( 100% - var(--padd) * 2 )
        height: calc( 100% - var(--padd) * 2 )
        z-index: -1
        object-fit: cover

    @media (max-width: 1439px)
        &-features,
        &-descr
            margin-bottom: 0

    @media (max-width: 1199px)
        .container
            align-items: flex-end

        &-features
            margin-bottom: 10vw
            gap: 40px
            max-width: 40%

        &-feature
            &__heading
                font-size: 50px
            &__text
                font-size: 22px

        &-descr
            margin-bottom: 10vw
            max-width: 50%

        h1
            max-width: 980px

    @media (max-width: 991px)
        .container
            gap: 56px 0
            flex-direction: column
            &>*
                width: 100%
                max-width: 100%
                text-align: left

        .header
            order: 1

        &__bg
            // object-position: right center

        &-features
            order: 2
            margin-bottom: 0
            gap: 20px 40px

        &-feature
            &__heading
                font-size: 40px
            &__text
                font-size: 18px

        h1
            order: 3
            margin: 0

        &-descr
            margin: auto
            order: 4
            margin-bottom: 0
            .btn
                margin-left: 0

    @media (max-width: 720px)
        margin-bottom: 70px
        .container
            width: calc( 100% - 18px )
            min-height: 590px

            &>*
                padding: 0 11px

        &-feature
            &__heading
                font-size: 28px

            &__text
                font-size: 12px

        &-descr
            p
                font-size: 12px
                line-height: 16px
                margin-bottom: 30px

            .btn
                width: 100%

.about
    h3
        max-width: 590px
        font-weight: 400

    .wrapper
        &>*
            &:last-child
                max-width: 670px

.reviews
    &-title
        gap: 2px 20px
        margin-bottom: 20px
        &>*
            margin: 0

    h2
        color: $white

    h3
        color: $prime

    &-slider
        width: calc((100vw - var(--cont)) / 2 + 100%)
        &:not(.slick-initialized)
            gap: 10px
            &>*:nth-child(n+4)
                display: none

    &-slide
        width: 316px
        border: 1px solid white
        padding: 30px
        margin: 0 5px
        &>*
            width: 100%

        &:nth-child(even)
            border: none
            background-color: $main

    &__text
        margin: 0 0 10px

    &__name
        font-weight: bold

    @media screen and ( max-width: 1300px )
        &-slider
            width: calc(100% + var(--cont-pad) )

    @media screen and ( max-width: 991px )

        &-slide
            // width: 208px
            padding: 21px 19px

    @media screen and ( max-width: 720px )
        &-slide
            margin: 0 3.5px
            width: 60vw
            max-width: 300px

        &-slider
            position: relative
            z-index: 1
            left: calc( 0px - var(--cont-pad) )
            width: calc(100% + var(--cont-pad) * 2 )
            .slick
                &-list
                    padding: 0 calc( var(--cont-pad) - 3.5px )

.faq
    &__text
        display: none
        padding-bottom: 20px

    &-item
        transition: all ease .3s
        margin: 0 auto
        padding: 0
        border-bottom: 1px solid #BEBEBE

        .ic
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0
            --ic-width: 26px

        &:last-child
            margin-bottom: 0

        &.active

    &__text
        padding-left: 60px

    &__heading
        padding: 20px 0 20px 60px
        position: relative
        z-index: 1
        margin: 0
        width: 100%
        text-align: left
        text-wrap: balance
        cursor: pointer

        &.active
            color: $prime
            opacity: 1

    @media screen and ( max-width: 1199px )
        &__heading
            padding: 18px 0 18px 40px
            .ic
                --ic-width: 20px

        &__text
            padding-left: 40px
    @media screen and ( max-width: 720px )
        &__heading
            padding: 11.5px 0 11.5px 27px
            .ic
                --ic-width: 15px
        &__text
            padding-left: 27px

.franchise
    position: relative
    z-index: 1
    text-align: center
    padding: 70px 0 74px
    margin: 50px 0
    h2
        margin-bottom: 20px

    &__descr
        max-width: 710px
        margin: 0 auto 40px

    &__bg
        display: block
        position: absolute
        top: var(--padd)
        z-index: -111
        left: var(--padd)
        width: calc( 100% - var(--padd) * 2 )
        height: 100%
        z-index: -1
        object-fit: cover
        pointer-events: none

    .btn
        margin: 0 auto

    @media screen and ( max-width: 1199px )
        padding: 60px 0 64px
        margin: 40px 0

        &__descr
            max-width: 610px

    @media screen and ( max-width: 991px )
        &__descr
            max-width: 510px

    @media screen and ( max-width: 720px )
        padding: 32px 0 60px
        margin: 30px 0
        h2
            max-width: 280px
            margin: 0 auto 20px
        &__descr
            max-width: 270px
            margin-bottom: 40px

.subs
    text-align: center
    h2
        color: $white

    &-slider
        margin: 0 0 40px
        &:not(.slick-initialized)
            &>*:nth-child(n+4)
                display: none

    &-slide
        width: 242px
        margin: 0 5px
        img
            width: 100%
            aspect-ratio: 242/212
            object-fit: cover

    .btn
        margin: 0 auto

    @media screen and ( max-width: 991px )
        &-slider
            margin: 0 0 40px
            &:not(.slick-initialized)
                &>*:nth-child(n+4)
                    display: none

    @media screen and ( max-width: 720px )
        &__descr 
            max-width: 305px
            margin: 0 auto 6px
        h2 
            max-width: 334px
            margin: 0 auto 20px

        
        &-slide
            width: 114px
            img 
                aspect-ratio: 114/100


@import 'footer'
